body{
    display:flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 13px;
}
.sheet-container{
    width: max-content;
}
.header{
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 30px 30px;
}
.brand{
    display: flex;
    width: 60px;
    aspect-ratio: 1;
    margin: 0;
    padding: 0px;
    grid-row: span 2;
}
.title{
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 8px;
    font-size: 12px;
    margin:0;
}
.title h1{
    font-weight: 400;
}
.logo{
    display: block;
    border-radius: 6px;
    width: 90%;
    height: 90%;
    margin: auto;
    object-fit: cover;
}
.menu-bar{
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
}
.menu-list{
    padding: 0;
    margin:0;
    display: flex;
    list-style:none;
    
}
.menu-list button{
    padding: 0px 8px;
    border: none;
    background: none;
    cursor: pointer;
}
.dropdown{
    display: none;
    list-style: none;
}
.tool-bar{
    display: flex;
    align-items: center;
    height: 30px;
    gap: 5px;
    margin: 0;
    background: #f8f9fa;
    padding-left: 3px;
}
.tool-bar button{
    background-color: black;
    color: white;
    border-color:white;
    border-radius: 6px;
    width: 30px;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 8px;
    cursor: pointer;
}
.formula-bar{
    height: 30px;
    display: flex;
}
#address-input{
    width: 80px;
    margin: 0;
    border:none;
    font-family: Arial, sans-serif;
    font-size : 14px;
    padding: 0 8px;
    margin: 0;
    background-color: #f6fbfd;
}
#formula-input{
    flex: 1;
    font-family: Arial, sans-serif;
    font-size : 14px;
    padding: 0 8px;
    margin: 0;
    background-color: #f6fbfd;
    border:none;
}
#formula-input::placeholder{
    color: #888;
    font-style: italic;
    font-size: 13px;
}
#address-input:focus, #formula-input:focus{
    outline: none;
    box-shadow: none;
}
.sheet-grid{
    display: grid;
    grid-template-columns: 100px repeat(26, 100px);
    grid-template-rows: 32px repeat(100, 32px);
}
.sheet-grid {
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
}

.sheet-grid > * {
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.corner-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    border-top:none;
    border-left:none;
}
.column-header,.row-header{
     font-size: 12.5px;
    background-color: #f8f9fa;
    font-weight: 500;
}
.column-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cell{
    background-color: #ffffff;
}